/* Author: Jaakko Flink */
/* Date: 2025-09-11 */

/* Yleiset tyylit */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

/* Otsikko */
h1 {
    margin-bottom: 30px;
}

/* Kuvien tyylit */
img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto 30px auto; /* Keskitys ja väli alas */
}

/* Ääni- ja videotiedostot */
audio, video {
    display: block;
    margin: 0 auto 30px auto; /* Keskitetty ja väli alas */
}

/* Osioiden väli ja tekstin muotoilu */
section {
    margin-top: 40px;
    line-height: 1.6;
}
