/*
Author: Jaakko Flink
Date: 2025-09-26
*/
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

section {
    margin-bottom: 30px;
}

img {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

audio, video {
    display: block;
    margin: 0 auto;
}